:root {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  /* Color scheme */
  --primary: #0b80d3;
  --secondary: #9022f1; 
  --light: #f6f6f6;
  --dark: #2d2d2d;

  --border-radius: 0.25rem;
}

body {
  margin: 0rem 8rem;
}

a {
  /* Remove selectable text */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  padding-bottom: 4rem;
}

.section-container div {
  /* Take equal space */
  flex: 1;
}

#main-image img {
  /* Don't overflow */
  width: 100%;
  height: 90vh;

  object-fit: cover;
  object-position: 40%;
}

#main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Primary button styles */
.button-primary {
  padding: 1rem 2rem;
  margin: 0.5rem 0rem;

  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  border-color: var(--dark);
  
  background-color: var(--primary);
  color: var(--light);

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  min-width: 10rem;

  /* Transform on hover */
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.button-primary:hover {
  background-color: var(--secondary);
}

h1 {
  font-size: 3rem;
  color: var(--dark);
}

nav {
  display: flex;
  align-items: center;
  justify-content:space-between;

  margin: 1rem 0rem;
  padding: 0rem 1rem;

  background-color: var(--dark);
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

#menu-link {
  color: var(--light);

  /* Transform on hover */
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

#menu-link:hover {
  color: var(--secondary);

  cursor: pointer;
}

#title {
  font-size: 4rem;
  color: var(--light);
}

/* Footer */
footer {
  background-color: var(--dark);

  color: var(--light);
  text-align: center;
  font-weight: bold;

  padding: 1rem 0rem 3rem;
  margin: 1rem 0rem 0rem 0rem;
}

footer h2 {
  padding-bottom: 1rem;
}

/* Secondary images placement */
#secondary-image {
  height: 100%;
  position: relative;
}

#secondary-image img {
  border-radius: var(--border-radius);
}

#secondary-image img:first-child {
  position: absolute;

  width: 90%;
  height: 80%;

  object-fit: cover;

  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#secondary-image img:last-child {
  position: relative;
  left: 40%;
  top: 60px;

  margin-top: 4rem;

  width: 60%;
  height: 80%;

  object-fit: cover;
}
